<body style="background-image: url('/assets/guild.gif'); background-size: cover; height: 100vh; padding:0; margin:0; ">
<div style="width: 1000px;margin: auto;height: 100%;">
    <div class="main_pages" style="border-color: white; text-align: center;">
        <h1>Start guild war</h1>
        <%= form_with(url: create_wars_path(ids: {id1: @g1, id2: @g2}), local: false) do |form| %>
            <div style="padding-top: 10px; color: white; font-family: fantasy;">
                <%= form.check_box :is_delay_war %>
                <%= form.label :is_delay_war, "Begin the war from specified time" %>
            </div>
            <div style="padding-top: 10px; color: white; font-family: fantasy;">
                <%= form.date_field :begin_date %>
            </div>
            <div style="padding-top: 10px; color: white; font-family: fantasy;">
                <%= form.time_field :begin_time %> 
            </div>
          
            <div style="padding-top: 10px; color: white; font-family: fantasy;">
                <%= form.check_box :casual_enabled%>
                <%= form.label :casual_enabled, "Casual games counts in war"%>
            </div>
            <div style="padding-top: 10px; color: white; font-family: fantasy;">
                <%= form.check_box :ladder_enabled%>
                <%= form.label :ladder_enabled, "Ladder games counts in war"%>
            </div>

            <div style="padding-top: 10px; color: white; font-family: fantasy;">
                <%= form.label :bank_points%><br/>
                <%= form.number_field(:bank_points, in: 50.0..200.0, step: 10) %>
            </div>
            <div style="padding-top: 10px; color: white; font-family: fantasy;">
                <%= form.label :duration%><br/>
                <%= form.number_field(:duration, in: 2.0..10.0, step: 1) %>
            </div>
            <div class="actions">
                <%= form.submit%>
            </div>
        <% end %>
        
        <%# <%= link_to 'Send invitation', create_war_path(ids: {id1: @g1, id2: @g2}), class: "button_view_guild" %> %>
    </div>
</div>
</body> 