<body style="background-image: url('/assets/profile.gif'); background-size: cover; height: 100vh; padding:0; margin:0; ">
    <div style="width: 1000px;margin: auto;height: 100%;">
        <div class="main_pages" style="border-color: white;">
            <h1>Profile</h1>
            <table class="friends" style="width: 500px;">
                <tr>
                    <th><img style="width: 140px; height: 140px;" src="<%=(url_for(@current_user.photo))%>">
                    <% if current_user.guild %>
                        <th><img style="width: 140px; height: 140px;" src="<%=(url_for(@current_user.guild.photo))%>"></th>
                    <% end %>
                </tr>
                <tr><th>Nickname:</th><th><%= current_user.nickname %></th></tr>
                <tr><th>Email:</th><th><%= current_user.email %></th></tr>
                <% if current_user.guild %>
                    <tr><th>Guild</th><th><%= current_user.guild.name %></th></tr>
                <% end %>
                <tr><th>Rating:</th><th><%= current_user.rating %></th></tr>
                <tr><th>Wins: </th><th><%= Game.where(winner: current_user.nickname).count %></th></tr>
                <tr><th>Lose: </th><th><%= Game.where(loser: current_user.nickname).count %></th></tr>
                <tr><th>Win Tournament: </th><th>Dostat zaprosom iz db</th></tr>
                <tr>
                    <th><%= link_to "Edit profile", edit_profile_path(current_user) , class: "button_edit_profile" %> </th>
                    <% if current_user.guild %>
                        <th><%= link_to "Guild", guild_path(current_user.guild), class: "button_edit_profile" %> </th>
                    <% else %>
                        <th><%= link_to "Guild", new_guild_path, class: "button_edit_profile" %> </th>
                    <% end %>
                </tr>
            </table>
        </div>
        <div class="main_pages" style="border-color: white;">
            <h1>Statistic</h1>
            <table class="friends" style="width: 500px;">
                <tr><th style="padding-right: 10px;">Match</th><th>Player</th><th></th><th style="padding-right: 10px;">Player</th><th>Winner</th></tr>
                <tr><th style="color: #dc4309; padding-right: 10px;">Tournament</th><th>tester</th><th>VS</th><th style="padding-right: 10px;">atomatoe</th>><th style="color: red">tester</th></tr>
                <% if Game.where(player1: current_user).empty? == false %>
                    <% Game.where(player1: current_user).each do |game| %>
                        <tr>
                            <th style="color: #dc4309; padding-right: 10px;"><%= game.gametype %></th>
                            <th><%= game.player1.nickname %></th>
                            <th>VS</th>
                            <th style="padding-right: 10px;"><%= game.player2.nickname %></th>
                            <% if game.winner != current_user.nickname %>
                                <th style="color: red"><%= game.winner %></th>
                            <% else %>
                                <th style="color: green"><%= game.winner %></th>
                            <% end %>
                        </tr>
                    <% end %>
                <% end %>
                <% if Game.where(player2: current_user).empty? == false %>
                    <% Game.where(player2: current_user).each do |game| %>
                        <tr>
                            <th style="color: #dc4309; padding-right: 10px;"><%= game.gametype %></th>
                            <th><%= game.player2.nickname %></th>
                            <th>VS</th>
                            <th style="padding-right: 10px;"><%= game.player1.nickname %></th>
                            <% if game.winner != current_user.nickname %>
                                <th style="color: red"><%= game.winner %></th>
                            <% else %>
                                <th style="color: green"><%= game.winner %></th>
                            <% end %>
                        </tr>
                    <% end %>
                <% end %>
            </table>
        </div>
        <% if current_user.pending_duels.empty? == false %>
            <div>
                <h1>Duels</h1>
                <table class="friends" style="width: 500px;">
                    <tr><td>Name</td><td>Anagram</td><td>Email</td><td>Rating</td><td>Status</td><td></td><td></td></tr>
                    <% if Game.where(player1: current_user.id, is_finished: false).empty? == true || Game.where(player2: current_user.id, is_finished: false).empty? == true %>
                        <% current_user.pending_duels.each do |duel| %>
                            <tr>
                                <td><%= User.find(duel.sender_id).nickname %></td>
                                <% if User.find(duel.sender_id).guild %>
                                    <td><%= User.find(duel.sender_id).guild.name %></td>
                                <% else %>
                                    <td>["None"]</td>
                                <% end %>
                                <td><%= User.find(duel.sender_id).email %></td>
                                <td><%= User.find(duel.sender_id).rating %></td>
                                <td><%= User.find(duel.sender_id).status %></td>
                                <td><%= link_to 'Accept Invitation', duels_update_path(duel_id: duel.id), class: "button_send_invite" %></td>
                                <td><%= link_to 'Reject Invitation', duels_destroy_path(duel_id: duel.id), class: "button_leave_guild" %></td>
                            </tr>
                        <% end %>
                    <% end %>
                </table>
            </div>
        <% end %>
        <% unless @friends.empty? && current_user.pending_invitations.empty? %>
            <h1>Friends</h1>
            <table class="friends" style="width: 500px;">
                <tr><td>Name</td><td>Anagram</td><td>Email</td><td>Rating</td><td>Status</td><td></td><td></td></tr>
                <% @friends.each do |friend| %>
                    <tr>
                        <td><%= friend.nickname %></td>
                        <% if friend.guild %>
                            <td><%= [friend.guild.anagram] %></td>
                        <% else %>
                            <td>["None"]</td>
                        <% end %>
                        <td><%= friend.email %></td>
                        <td><%= friend.rating %></td>
                        <td><%= friend.status %></td>
                        <td><%= link_to 'View profile', list_player_path(friend.id), class: "button_make_officer" %></td>
                        <% if current_user.chat_rooms.where(direct: true).empty? %>
                            <td><%= link_to 'Direct', create_dm_path(direct_mate: friend.id, current_id: current_user.id), class: "button_make_officer" %></td>
                        <% end %>
                        <% current_user.chat_rooms.where(direct: true).each do |chat| %>
                            <% unless chat.room_members.find_by(user_id: friend.id) %>
                                <td><%= link_to 'Direct', create_dm_path(direct_mate: friend.id, current_id: current_user.id), class: "button_make_officer" %></td>
                            <% else %>
                                <td><%= link_to 'View Direct', chat_room_path(chat.id), class: "button_make_officer" %></td>
                            <% end %>
                        <% end %>
                        <td><%= link_to 'Destroy Friendship', friendship_destroy_path(invitation_id: Friendship.find_invitation(current_user.id, friend.id)), class: "button_leave_guild" %></td>
                    </tr>
                    <% end %>
                    <% current_user.pending_invitations.each do |invitation| %>
                        <tr>
                            <td><%= User.find(invitation.user_id).nickname %></td>
                            <% if User.find(invitation.user_id).guild %>
                                <td><%= User.find(invitation.user_id).guild.name %></td>
                            <% else %>
                                <td>["None"]</td>
                            <% end %>
                            <td><%= User.find(invitation.user_id).email %></td>
                            <td><%= User.find(invitation.user_id).rating %></td>
                            <td><%= User.find(invitation.user_id).status %></td>
                            <td><%= link_to 'Accept Invitation', friendship_update_path(invitation_id: invitation.id), class: "button_send_invite" %></td>
                            <td><%= link_to 'Reject Invitation', friendship_destroy_path(invitation_id: invitation.id), class: "button_leave_guild" %></td>
                        </tr>
                    <% end %>
            </table>
        <% end %>
        </br></br></br></br>
        </div>
    </div>
</body>