<body style="background-image: url('https://media.giphy.com/media/1yld7nW3oQ2IyRubUm/giphy.gif'); background-size: cover; height: 100vh; padding:0; margin:0; ">
    <div style="width: 1000px;margin: auto;height: 100%;">
        <div class="main_pages" style="border-color: white;">
            <h1>Profile</h1>
            <table class="friends" style="width: 500px;">
            <tr>
                <th><img style="width: 140px; height: 140px;" src="https://ava-24.com/_ph/98/563228947.jpg"></th>
                <th><img style="width: 140px; height: 140px;" src="https://i.gyazo.com/8de1066d8b26430bafb010f4707990b4.png"></th>
            </tr>
            <tr><th>Nickname:</th><th><%= current_user.nickname %></th></tr>
            <tr><th>Email:</th><th><%= current_user.email %></th></tr>
            <% if current_user.guild %>
                <tr><th>Guild</th><th><%= current_user.guild.name %></th></tr>
            <% end %>
            <th>Рейтинг:</th><th><%= current_user.rating %></th>
            <tr><th>Всего побед</th><th>Dostat zaprosom iz db</th></tr>
            <tr><th>Всего поражений</th><th>Dostat zaprosom iz db</th></tr>
            <tr><th>Количество выйгранных турниров:</th><th>Dostat zaprosom iz db</th></tr>
            <tr>
                <th><%= link_to "Edit profile", edit_profile_path(current_user) , class: "button_edit_profile" %> </th>
                <% if current_user.guild %>
                    <th><%= link_to "Guild", guild_path(current_user.guild), class: "button_edit_profile" %> </th>
                <% else %>
                    <th><%= link_to "Guild", new_guild_path, class: "button_edit_profile" %> </th>
                <% end %>
            </tr>
            </table>
        </div>
        <div class="main_pages" style="border-color: white;">
            <h1>Statistic</h1>
            <table class="friends" style="width: 500px;">
                <tr><th style="color: purple; padding-right: 25px;">Tournament</th><th>tester</th><th>vs</th><th style="padding-right: 25px;">atomatoe</th><th style="padding-right: 25px;">6/11</th><th style="color: red">(lose)</th></tr>
                <tr><th style="color: purple; padding-right: 25px;">Tournament</th><th>tester</th><th>vs</th><th style="padding-right: 25px;">sjakku</th><th style="padding-right: 25px;">11/10</th><th style="color: green">(win)</th></tr>
                <tr><th style="color: purple; padding-right: 25px;">Tournament</th><th>tester</th><th>vs</th><th style="padding-right: 25px;">memilio</th><th style="padding-right: 25px;">11/8</th><th style="color: green">(win)</th></tr>
                <tr><th style="color: #44ecce; padding-right: 25px;">Match</th><th>tester</th><th>vs</th><th style="padding-right: 25px;">atomatoe</th><th style="padding-right: 25px;">11/6</th><th style="color: green">(win)</th></tr>
                <tr><th style="color: #44ecce; padding-right: 25px;">Match</th><th>tester</th><th>vs</th><th style="padding-right: 25px;">sjakku</th><th style="padding-right: 25px;">11/9</th><th style="color: green">(win)</th></tr>
            </table>
        </div>
        <div class="main_pages" style="border-color: white; text-align: center;">
            <h1>Friends</h1>
            <table class="friends" style="width: 500px;">
                <tr><td>Name</td><td>Anagram</td><td>Email</td><td>Rating</td><td>Remove friend</td></tr>
                <% @friends.each do |friend| %>
                    <tr>
                        <td><%= friend.nickname %></td>
                        <% if friend.guild %>
                            <td><%= [friend.guild.anagram] %></td>
                        <% else %>
                            <td>["None"]</td>
                        <% end %>
                        <td><%= friend.email %></td>
                        <td><%= friend.rating %></td>
                        <td><%= link_to 'Destroy Friendship', friendship_destroy_path(invitation_id: Friendship.find_invitation(current_user.id, friend.id)), class: "button_leave_guild" %></td>
                    </tr></br>
                <% end %>
            </table>
            <ol>
                <% current_user.pending_invitations.each do |invitation| %>
                    <li>
                        <p style="color: white;"><%= User.find(invitation.user_id).nickname %>
                        <%= link_to 'Accept Invitation', friendship_update_path(invitation_id: invitation.id), class: "button_send_invite" %>
                        <%= link_to 'Reject Invitation', friendship_destroy_path(invitation_id: invitation.id), class: "button_leave_guild" %></p>
                    </li>
                <% end %>
            </ol>
        </div>
    </div>
</body>