<body style="background-color: rgb(52, 56, 61); font-family: 'Roboto', sans-serif; text-align: center;">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div style="padding-top: 300px; color: white;">
    <h2>Sign up</h2>
    <%= f.label :email%><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text_sign_up" %>
  </div>

  <div style="padding-top: 10px; color: white;">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "text_sign_up" %>
  </div>

  <div style="padding-top: 10px; color: white;">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "text_sign_up" %>
  </div>

  <div style="padding-top: 10px; color: white;">
    <%= f.submit "Sign up", class: "button_start_game" %>
  </div>
<% end %>
</br>
<a href="/users/sign_in"><button class="button_start_game">Log in</button></a></br>
<a href="/users/auth/marvin"><button class="button_start_game", style="margin-top: 15px;"><img style="width: 40px; border-radius: 20px;" src="https://static-s.aa-cdn.net/img/ios/1475507162/c276b9a305980838a7c4daad37222a87?v=1" alt="Login in Marvin"> Log in Intra 42</button></a>
</body>