<body style="background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/12cbe8a4-f55c-4b40-85bb-d8e1405e7b84/da9uc4u-26a40318-0b7f-41fc-ad28-21db810d91e4.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzEyY2JlOGE0LWY1NWMtNGI0MC04NWJiLWQ4ZTE0MDVlN2I4NFwvZGE5dWM0dS0yNmE0MDMxOC0wYjdmLTQxZmMtYWQyOC0yMWRiODEwZDkxZTQuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.wuteVV4Q8r3K7p4D1FaDW0RpdiMBPuP6cLFFvelNobM'); background-size: cover; height: 100vh; padding:0; margin:0; ">
<div style="width: 1000px;margin: auto;height: 100%;">
    <h1>All players here</h1>
    <h1>
        <h1>Users: </h1>
        <table class="friends" style="width: 600px;">>
        <tr><td>Name</td><td>Anagram</td><td>Email</td><td>Rating</td><td>View</td></tr>
        <% @list.each do |l| %>
            <tr>
                <td><%= l.nickname %></td>
                <% if l.guild %>
                    <td><%= [l.guild.anagram] %></td>
                <% else %>
                    <td>["None"]</td>
                <% end %>
                <td><%= l.email %></td>
                <td><%= l.rating %></td>
                <% unless l == current_user %>
                    <td><%= link_to 'View profile', list_player_path(l.id), class: "button_make_officer" %></td>
                <% end %>
            </tr>
        <% end %>
        </table>
    </h1>
</div>
</body>