<h1>All players here</h1>
<h1>Here we add table with all players</h1>
<h1>
    <h2>List: Users </h2><br>
    <% @list.each do |l| %>
        <tr>
            <td><%= l.nickname %></td>
            <% if l.guild %>
                <td><%= [l.guild.anagram] %></td>
            <% end %></br>
            <td><%= l.email %></td>
            <td><%= l.rating %></td>
            <% unless l == current_user %>
                <td><%= link_to 'View profile', list_player_path(l.id) %></td>
            <% end %>
        </tr></br>
    <% end %>
</h1>