<body style="background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/12cbe8a4-f55c-4b40-85bb-d8e1405e7b84/da9uc4u-26a40318-0b7f-41fc-ad28-21db810d91e4.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzEyY2JlOGE0LWY1NWMtNGI0MC04NWJiLWQ4ZTE0MDVlN2I4NFwvZGE5dWM0dS0yNmE0MDMxOC0wYjdmLTQxZmMtYWQyOC0yMWRiODEwZDkxZTQuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.wuteVV4Q8r3K7p4D1FaDW0RpdiMBPuP6cLFFvelNobM'); background-size: cover; height: 100vh; padding:0; margin:0; ">
<div style="width: 1000px;margin: auto;height: 100%;">
  <div class="main_pages" style="border-color: white;">
  <h1>Profile user <%= @list.nickname %></h1>
<table class="friends">
  <tr>
      <th><img style="width: 140px; height: 140px;" src="<%=(url_for(@list.photo))%>">
      <% if @list.guild %>
        <th><img style="width: 140px; height: 140px;" src="<%=(url_for(@list.guild.photo))%>"></th>
      <% end %>
  </tr>
  <tr><th>Nickname:</th><th><%= @list.nickname %></th></tr>
  <tr><th>Email:</th><th><%= @list.email %></th></tr>
  <% if @list.guild %>
      <tr><th>Guild</th><th><%= @list.guild.name %></th></tr>
  <% end %>
  <th>Рейтинг:</th><th><%= @list.rating %></th>
  <tr><th>Всего побед</th><th>Dostat zaprosom iz db</th></tr>
  <tr><th>Всего поражений</th><th>Dostat zaprosom iz db</th></tr>
  <tr><th>Количество выйгранных турниров:</th><th>Dostat zaprosom iz db</th></tr>
  </table>
  <% if user_signed_in? && !Friendship.reacted?(current_user.id, @list.id) && current_user != @list %>
    <p style="text-align: center;"><%= link_to 'Send Invitation',friendship_create_path(ids: {id1: current_user.id, id2: @list.id}), class: "button_send_invite"%></p>
  <% end %>
</div>
<div>
<% unless @friends.empty? %>
  <h1>Friends</h1>
  <table class="friends">
      <% @friends.each do |friend| %>
          <tr>
              <td><%= friend.nickname %></td>
              <% if friend.guild %>
                  <td><%= [friend.guild.anagram] %></td>
              <% end %>
              <td><%= friend.rating %></td>
          </tr>
      <% end %>
  </table>
<% end %>
</div>
</div>
</body>