<%= form_for(@guild, remote: true) do |form| %>
    <% if guild.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(guild.errors.count, "error") %> prohibited this guild from being saved:</h2>
  
        <ul>
          <% guild.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div style="padding-top: 10px; color: white;">
      <%= form.label :description %>
      <%= form.text_field :description, class: "text_sign_up"  %>
    </div></br>

    <div style="padding-top: 10px; color: white;">
      <tr>
      <th><img class="avatar" onclick="document.getElementById('guild_photo').value=this.src;" style="width: 70px; height: 70px;" src="/assets/standart_guild_avatar.png"></th>
      <th><img class="avatar" onclick="document.getElementById('guild_photo').value=this.src;" style="width: 70px; height: 70px;" src="/assets/guild_1.png"></th>
      <th><img class="avatar" onclick="document.getElementById('guild_photo').value=this.src;" style="width: 70px; height: 70px;" src="/assets/guild_2.png"></th>
      <th><img class="avatar" onclick="document.getElementById('guild_photo').value=this.src;" style="width: 70px; height: 70px;" src="/assets/guild_3.png"></th>
      <th><img class="avatar" onclick="document.getElementById('guild_photo').value=this.src;" style="width: 70px; height: 70px;" src="/assets/guild_4.png"></th>
      </tr>
      <%= form.text_field :photo, type: :hidden %>
    </div></br>
  
    <div class="actions">
      <%= form.submit "Update", class: "button_start_game" %>
    </div>
  <% end %>