<%= form_for(@guild) do |form| %>
    <% if guild.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(guild.errors.count, "error") %> prohibited this guild from being saved:</h2>
  
        <ul>
          <% guild.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div style="padding-top: 10px; color: white;">
      <%= form.label :name %><br />
      <%= form.text_field :name, class: "text_sign_up" %>
    </div>
  
    <div style="padding-top: 10px; color: white;">
      <%= form.label :anagram %><br />
      <%= form.text_field :anagram, class: "text_sign_up" %>
    </div>
  
    <div style="padding-top: 10px; color: white;">
      <%= form.label :description %><br />
      <%= form.text_field :description, class: "text_sign_up" %>
    </div>
  
    <div class="actions"><br />
      <%= form.submit "Create Guild", class: "button_start_game" %>
    </div>
  <% end %>