<h1>Guilds</h1>
<h1>Here we add table with all guilds</h1>
<h1>
    <h2>List: guilds </h2><br>
    <%= link_to "Create guild", new_guild_path %></br>
    <% @guilds.each do |guild| %>
        <tr>
            <td><%= guild.name %></td></br>
            <td><%= [guild.anagram] %></td>
            <td><%= guild.rating %></td>
            <td><%= guild.description %></td>
            <td><%= link_to 'View guild', guild_path(guild.id) %>
        </tr></br>
    <% end %>
</h1>


