<body style="background-image: url('/assets/guild.gif'); background-size: cover; height: 100vh; padding:0; margin:0; ">
<div style="width: 1000px;margin: auto;height: 100%;">
    <div class="main_pages" style="border-color: white; text-align: center;">
    <h1><%= @guild.name %></h1>

    <p><img style="width: 140px; height: 140px;" src="<%=(url_for(@guild.photo))%>"><p>
    <% unless current_user.guild %>
        <%= link_to 'Join guild', accept_path(id: @guild.id), class: "button_edit_profile" %>
    <% end %>

    <% if current_user.guild && current_user.guild_member.guild_id == @guild.id %>
        <%= link_to 'Leave from guild', leave_from_guild_path(@guild), class: "button_leave_guild" %>
    <% end %>

    <% if current_user.guild && current_user.guild.id == @guild.id && current_user.guild_member.user_role == 2 %>
        <%= link_to 'Edit info guild', edit_guild_path, class: "button_view_guild" %>
    <% end %>
    <div class="friends" style="width: 300px;">
        <p>Guild id: <%= @guild.id %></p>
        <p>Rating: <%= @guild.rating %></p>
        <p>Name: <%= @guild.name %></p>
        <p>Anagram: <%= @guild.anagram %></p>
        <p>Leader:
        <% @owner.each do |owner| %>
            <%= owner.user.nickname %></p>
            <% end %>
        <p>Description: <%= @guild.description %></p>
    </div>
    <h1>Members list:</h1>
    <table class="friends" style="width: 300px;">
    <tr><td>Nickname</td><td>Role</td></tr>
    <% @gm.each do |member| %>
        <tr>
            <td><%= member.user.nickname %></td>
            <% if member.user_role == 2 %>
                <td>owner</td>
            <% elsif member.user_role == 1 %>
                <td>officer</td>
            <% else %>
                <td>member</td>
            <% end %>
            <% if @guild.check_member_role?(member.user, member.user.guild) %>
                <% if current_user.admin == true || (current_user.guild && current_user.guild.id == @guild.id && current_user.guild_member.user_role == 2) %>
                    <td><%= link_to 'make an officer', set_officer_path(id: member.user_id), class: "button_make_officer" %></td>
                <% end %>
            <% end %>
            <% if (current_user.guild && current_user.guild.id == @guild.id && @guild.check_member_officer?(member.user, member.user.guild)) || (current_user.admin == true && @guild.check_member_officer?(member.user, member.user.guild)) %>
                <% if current_user.admin == true || current_user.guild_member.user_role == 2 %>
                    <td><%= link_to 'remove officer', remove_officer_path(id: member.user_id), class: "button_leave_guild" %></td>
                <% end %>
            <% end %>
            <% if @guild.check_member_officer?(member.user, member.user.guild) || @guild.check_member_role?(member.user, member.user.guild) %>
                <% if current_user.guild && current_user.guild.id == @guild.id && current_user != member.user && (current_user.guild_member.user_role == 2 || current_user.guild_member.user_role == 1) %>
                    <td><%= link_to 'kick member', kick_member_path(id: member.user_id), class: "button_leave_guild" %></td>
                <% end %>
            <% end %>
        </tr>
    <% end %>
    </table>
    </div>
</div>
</body>