<h1 style="color: black"> THIS IS GUILD <%= @guild.id %> </h1>
<h1 style="color: black"> 
    Owner</br>
    <% @owner.each do |owner| %>
        <p><%= owner.user.nickname %></p>
    <% end %>
</h1>
<p>Name:</p>
<p><%= @guild.name %></p>
<p>Anagram:</p>
<p><%= @guild.anagram %></p>
<p>Description:</p>
<p><%= @guild.description %></p>

<p>Func like join || leave:</p>
<% unless current_user.guild %>
    <p><%= link_to 'Join guild', accept_path(id: @guild.id) %>
<% end %>

<% if current_user.guild && current_user.guild_member.guild_id == @guild.id %>
    <p><%= link_to 'Leave from guild', leave_from_guild_path(@guild) %>
<% end %></br>

<p>Members list:</p>
<% @gm.each do |member| %>
    <tr>
        <td><%= member.user.nickname %></td>
        <td><%= member.user_role %></td>
        <% if @guild.check_member_role?(member.user, member.user.guild) %>
            <% if current_user.guild_member.user_role == 2 %>
                <td><%= link_to 'make an officer', set_officer_path(id: member.user_id) %></td>
            <% end %>
        <% end %>
        <% if @guild.check_member_officer?(member.user, member.user.guild) %>
            <% if current_user.guild_member.user_role == 2 %>
                <td><%= link_to 'remove officer', remove_officer_path(id: member.user_id) %></td>
            <% end %>
        <% end %>
        <% if @guild.check_member_officer?(member.user, member.user.guild) || @guild.check_member_role?(member.user, member.user.guild) %>
            <% if current_user.guild_member.user_role == 2 || current_user.guild_member.user_role == 1 %>
                <%= link_to 'kick member', kick_member_path(id: member.user_id) %>
            <% end %>
        <% end %>
    </tr></br>
<% end %>
<% if current_user.guild && current_user.guild.id == @guild.id && current_user.guild_member.user_role == 2 %>
    <%= link_to 'Edit info guild', edit_guild_path %>
<% end %>