<header>
  <div class="head_menu">
    <div class="friends">
        <img style="margin-bottom: -10px;margin-top: 25px;" height="50" width="50" src="/assets/logo.svg" alt="Game logo">
        </br></br>
        <div class="text_head">
          <%= link_to "Home",   profiles_path %>
          <%= link_to "Games",   '#' %>
          <%= link_to "Tournaments",   '#' %>
          <%= link_to "Guilds",   guilds_path %>
          <%= link_to "Online players", list_players_path %>
        </div>
      </div>
  </div>
</header>