<header>
  <div class="header">
    <img style="margin-bottom: -5px;margin-top: 25px;" height="40" width="40" src="https://www.flaticon.com/svg/vstatic/svg/1099/1099779.svg?token=exp=1619282241~hmac=24f8a8761a3b090fcda242dc65409e85" alt="Game logo">
    <ul>
      <li><%= link_to "Home",   home_index_path %></li>
      <li><%= link_to "Games",   '#' %></li>
      <li><%= link_to "Tournaments",   '#' %></li>
      <li><%= link_to "Guilds",   guilds_path %></li>
      <li><%= link_to "Log in", login_path %></li>
      <li><%= link_to "Sign up",  registration_path %></li>
    </ul>
  </div>
</header>