<!DOCTYPE html>
<html>
  <head>
    <style>
       html { overflow:  hidden; }
     </style>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= render 'layouts/shim' %>
  </head>
  <body>
  <% if user_signed_in? %>
    <%= render 'layouts/header' %>
  <% end %>
    <%= render 'layouts/flashes' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>