<h1>Editing Room</h1>

<<<<<<< HEAD
<%= render 'form', chat_room: @chat_room %>
<%= link_to 'Show', @chat_room %> |
<%= link_to 'Back', chat_rooms_path %>
=======
<%= render 'form_for_pass', chat_room: @chat_room %>
<%= link_to 'Back', chat_rooms_path, class: "button_make_officer" %>
>>>>>>> 6d5749fbb98bbae5bd1b452f7a3e0b69667421ed
