<h2> Chat rooms </h2>

<%= render 'form', chat_room: ChatRoom.new %>

<% @chat_rooms.each do |chat_room| %>
    <tr>
        <td><%= chat_room.id %></td>
        <td><%= chat_room.name %></td>
        <td><%= chat_room.users.uniq.count %> "members" </td>
        <td><%= link_to "View room #{chat_room.name}", chat_room_path(chat_room.id) %></td>
        <% unless chat_room.room_members.find_by(user_id: current_user.id) %>
            <td><%= link_to "Join to chat #{chat_room.name}", join_chat_path(id: chat_room.id) %></td>
        <% end %>
    </tr></br>
<% end %>