<body>
    <div id="chat-room-id", data-chat-room-id="<%= @chat_room.try(:id) %>"></div>
    <div id="user-room-id", data-user-id="<%= current_user.id %>"></div>

    <p>HELLO<p>

    <% @chat_room.users.each do |member| %>
        <tr>
            <td><%= member.nickname %></td>
            <% if member.guild %>
                <td><%= [member.guild.anagram] %></td>
            <% else %>
                <td>"None"</td>
            <% end %>s
            <td><%= member.rating %></td>
            <td><%= link_to 'View profile', list_player_path(member.id) %><td>
        </tr></br>
    <% end %>

    <div style="width: 400px; height: 400px; background: black;">
        <div id="messages" class="messages">
            <% @chat_room.messages.each do |message| %>
                <%= render 'messages/message', message: message %>
            <% end %>
        </div>
        <div class="chat-field">
            <% if @chat_room.room_members.find_by(user_id: current_user.id) %>
                <%= render 'messages/form', message: Message.new, chat_room: @chat_room %>
            <% else %>
                <%= link_to 'Join chat room', join_chat_path(@chat_room.id) %>
            <% end %>
        </div>
    </div>
</body>