
<%= form_for(current_user, url: update_user_path(current_user)) do |form| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
  
        <ul>
          <% user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :nickname %>
      <%= form.text_field :nickname %>
    </div>
  
    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>

<% end %>

    <script>
      document.querySelector('.edit_user').addEventListener('submit', function (event) {
        event.preventDefault();
        const inputNickname = document.querySelector('#user_nickname').value;
        const inputEmail = document.querySelector('#user_email').value;
        const formAction = event.target.action;

        const data = {
            nickname: inputNickname,
            email: inputEmail
        };
        axios.patch(formAction, data).then(res => console.log(res.data));
      });
    </script>

