<body style="background-color: black;">
    <div style="width: 1000px;margin: auto;height: 100%;">
        <div class="main_pages" style="border-color: white;">
            <h1>Profile</h1>
            <table class="friends">
            <tr>
                <th><img style="width: 140px; height: 140px;" src="https://ava-24.com/_ph/98/563228947.jpg"></th>
                <th><img style="width: 140px; height: 140px;" src="https://i.gyazo.com/8de1066d8b26430bafb010f4707990b4.png"></th>
            </tr>
            <tr><th>Nickname:</th><th><%= current_user.nickname %></th></tr>
            <tr><th>Email:</th><th><%= current_user.email %></th></tr>
            <tr><th>Guild</th><th><%= current_user.nickname %></th></tr>
            <th>Рейтинг:</th><th><%= current_user.rating %></th>
            <tr><th>Всего побед</th><th>Dostat zaprosom iz db</th></tr>
            <tr><th>Всего поражений</th><th>Dostat zaprosom iz db</th></tr>
            <tr><th>Количество выйгранных турниров:</th><th>Dostat zaprosom iz db</th></tr>
            <tr>
                <th><%= link_to "Edit profile", home_path, class: "button_edit_profile" %> </th>
                <th><%= link_to "Guild", new_guild_path, class: "button_edit_profile" %> </th>
            </tr>
            </table>
        </div>
        <div class="main_pages" style="border-color: white;">
            <h1>Statistic</h1>
            <table class="friends">
                <tr><th style="color: purple; padding-right: 25px;">Tournament</th><th>tester</th><th>vs</th><th style="padding-right: 25px;">atomatoe</th><th style="padding-right: 25px;">6/11</th><th style="color: red">(lose)</th></tr>
                <tr><th style="color: purple; padding-right: 25px;">Tournament</th><th>tester</th><th>vs</th><th style="padding-right: 25px;">sjakku</th><th style="padding-right: 25px;">11/10</th><th style="color: green">(win)</th></tr>
                <tr><th style="color: purple; padding-right: 25px;">Tournament</th><th>tester</th><th>vs</th><th style="padding-right: 25px;">memilio</th><th style="padding-right: 25px;">11/8</th><th style="color: green">(win)</th></tr>
                <tr><th style="color: #44ecce; padding-right: 25px;">Match</th><th>tester</th><th>vs</th><th style="padding-right: 25px;">atomatoe</th><th style="padding-right: 25px;">11/6</th><th style="color: green">(win)</th></tr>
                <tr><th style="color: #44ecce; padding-right: 25px;">Match</th><th>tester</th><th>vs</th><th style="padding-right: 25px;">sjakku</th><th style="padding-right: 25px;">11/9</th><th style="color: green">(win)</th></tr>
            </table>
        </div>
        <div class="main_pages" style="border-color: white;">
            <h1>Friends</h1>
            <table class="friends">
            <tr><th>atomatoe</th><th style="color: red">(offline)</th></tr>
            <tr><th>sjakku</th><th style="color: red">(offline)</th></tr>
            <tr><th>memilio</th><th style="color: green">(online)</th></tr>
            </table>
        </div>
    </div>
</body>