<div id="game-room-id", data-game-room-id="<%= @game.try(:id) %>"></div>
<div id="user-room-id", data-user-id="<%= current_user.id %>"></div>


<body style="background-image: url('<%=(url_for(@game.background))%>') !important; background-size: cover; height: 100vh; padding:0; margin:0; ">
<p id="leave-btn", style="text-align: center; margin: 0 auto;"><%= link_to 'Leave', leave_from_game_path(id: @game.id), class: "button_leave_guild" %></p>
<h1><%= @game.name %></h1>

<canvas width="735" height="570" id="gamee"></canvas></br></br>
<div id="waiting-div">
    <h1 id="waiting-h1"> waiting second player </h1>
</div>

<div class="friends" style="width: 730px; height: 110px; text-align: center; margin: 0 auto; overflow: auto;">
<table id="list-players" class="list_guilds" style="width: 600px;">
    <tr><td>Name</td><td>Anagram</td><td>Rating</td><td>Side</td><td></td></tr>
    <tr id="first-player">
        <td><%= @game.player1.nickname %></td>
        <% if @game.player1.guild %>
            <td><%= [@game.player1.guild.anagram] %></td>
        <% else %>
        <td>[NO GUILD]</td>
        <% end %>
        <td><%= @game.player1.rating %></td>
        <td id="fp-score"> LEFT PADDLE </td>
    </tr>
    <% if @game.player2 %>
        <tr id="second-player">
            <td><%= @game.player2.nickname %></td>
            <% if @game.player2.guild %>
                <td><%= [@game.player2.guild.anagram] %></td>
            <% else %>
            <td>[NO GUILD]</td>
            <% end %>
            <td><%= @game.player2.rating %></td>
            <td id="fp-score"> RIGHT PADDLE </td>
        </tr>
    <% end %>
</table>
</div>
</body>
